:host{
    .expense{
        border: 1px solid #37393f;
        border-radius: 24px;
        margin: 2%;
        padding: 10px;
    }
    .expenseType{
        text-align: center;
        color: #030000;
        border-radius: 15px;
        width: 85px;
        padding-bottom: 5px;
        height: 15x;
        font-weight: bold;
    }
    button{
        margin: 1%;
    }
}