:host{
  .wellcome{
    position: absolute;
    top: 30%;
    left: 50%;
    margin: -100px 0 0 -100px; 
  }
  .btn{
    margin-top: 20%;
  }
  .login{
    margin-top: 10%;
  }
  img{
       height: 200px;
       width: 180px;
       margin-top: 20%;
       margin-bottom: 10%;
  }
}
