<h1>Add expense</h1>
<div class="wrapper">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="label">Price</div>
        <input placeholder="price"
        formControlName="price" type="text">
      <div class="input">
        <div class="label">Description</div>
        <textarea type="text" matInput formControlName="description" placeholder="Ex. It makes me feel..."></textarea>
      </div>
      <div>
        <mat-radio-group formControlName="expenseType" >
          <mat-radio-button *ngFor="let type of typeList" [value]="type">
            {{type}}
          </mat-radio-button>
        </mat-radio-group>
      </div>

  
      <button>Save</button>
    </form>
    <div>

    </div>
