:host{
    margin: -100px 0 0 -100px;   
    button{
        width: 218px; 
      }
      textarea{
          height: 200px;
          width: 200px;
      }
      input{
        color:#fff;
    }
    }