:host {
    display: block;
    font-size: 14px;
    body{
         place-content: center;
    }
    .expenses{
    max-height: 160px;
    overflow-y: scroll;
    padding: 3px;
    }
    section{
        background-color: rgb(40, 41, 50);
        border: 1px solid rgb(55, 57, 63);
        border-radius: 24px;
        display: grid;
        grid-template-rows: max-content 1fr;
        padding: 3%;
    }
    section > header{
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: repeat(2 , 1fr);
         gap : 5px ;
         grid-template-areas: 
         "icon-header"
         "icon sub-header" ;
         padding: 3%;
    }
    section > header > .icon{
        display: grid;
        place-content: center;
         background-color: rgb(32, 33, 42);
         border-radius: 10px;
         width: 40px;
         height: 40px;
         color: rgb(138, 149, 255);
    }
    section > header > h2{
         align-self: flex-end;
    }
    section:hover{
        border: 4px solid rgb(55, 57, 63);
    }
    mat-icon{
        margin: 8px;
    }
    nav{
        min-width: 80px;
        display: grid; 
        grid-auto-flow: row;
        grid-auto-rows: max-content;
        gap : 5px;
        padding-top: 1px;
        padding-left: 7px;
        background-color: #282932;
        border-radius: 24px;
        border: 1px solid rgb(55, 57, 63);
        color: #e9e9e9 ;
    }
    .nav__link{
        display: grid;
        place-content: center;
        border-radius: 15px;
        color: #e9e9e9;
        height: 50px;
        width: 50px;
        background-color: rgb(32, 33, 42);
    }
    .nav__link:hover{
        color: #8a95ff;
        height: 55px;
        width: 55px;
    }
    .text--muted{
       color: rgb(131, 133, 137); 
    }
    .text--light{
        color: rgb(131, 133, 137); 
        font-size: 500;
     }
     .grid{
         display: grid;
         gap: 15px; 
         grid-template-rows: repeat(5 ,1fr);
         grid-template-columns: repeat(4,1fr);
         grid-template-areas: 
         'my-team my-team messages my-day'
         'my-team my-team my-work my-day'
         'my-team my-team my-work my-day'
         'project-1 project-2 project-3 my-day'
         'project-1 project-2 project-3 my-day'
         ;
     }
     .my-team{
         grid-area:my-team ;
     }
     .messages{
        grid-area: messages;
        background: #8a95ff;
        background: -webkit-linear-gradient(101deg, #8a95ff 0%, #8a95ff 50%, #c9dcfc 100%);
        background: linear-gradient(101deg, #8a95ff 0%, #8a95ff 50%, #c9dcfc 100%);
     }
     .project-1{
         grid-area: project-1;
     }
     .project-2{
        grid-area: project-2;
    }
    .project-3{
        grid-area: project-3;
        padding: 3%;
    }
    .my-day{
        grid-area: my-day;
    }
    .problems{
        max-height: 450px;
        overflow-y: scroll; 
        margin: 3%; 
    }
    .my-work{
        grid-area: my-work;
    }
    .messageIcon{
        font-size: 40px;
        margin-top: 20px;
    }
    p{
        color: rgb(138, 149, 255);
        font-weight: 500;
        margin:0; 
    }
    article{
        display: grid;
        grid-template-rows: max-content 1fr;
        gap: 10px;
    }
    h2{
        margin: 0;
    }
    main{
        border: 2px solid #37393f;
        display: grid;
        width: 1360px;
        max-width: 1360px;
        aspect-ratio: 2060/820;
        max-height: 580px;
        grid-template-columns: max-content 1fr;
        grid-template-rows: 1fr;
        gap: 15px;
        background-color: #20212a;
        border-radius: calc(5/3* 24px);
        padding: 50px;
        box-shadow: 67px 62px 120px 0px
       rgba(33, 37, 52, 0.75)
    }
  }
  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
  .noticeBoard{
    max-height: 145px;
    overflow-y: scroll; 
    margin: 3%; 
  }
  .wallet{
    max-height: 140px;
    overflow-y: scroll; 
    margin: 3%;  
  }
  .myBuilding{
    max-height: 170px;
    overflow-y: scroll; 
    margin: 3%;  
  }
  @media screen and (min-width : 1024px)
    and (max-width: 1024px)  {
        main{
            max-width: 1024px;
            width: 1024px;
            aspect-ratio: unset;  
        }
        .grid{
            grid-template-rows: repeat(4 , 1fr);
            grid-template-columns: repeat(4 , 1fr);
            grid-template-areas:
             "messages my-work"
             "my-team my-work"
             "my-team project-1"
             "project-2 project-3";
            max-height: 740px;
            .my-day{
                display: none;
            }
        }
    }