<h1>Edit profile</h1>
<div class="wrapper">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="input">
        <div class="label">Full name</div>
        <input placeholder="Full name"
        [(ngModel)] = this.currentUser.fullname
        formControlName="fullname" type="text">

        <div class="label">Email</div>
        <input type="email" placeholder="Email" 
        [(ngModel)] = this.currentUser.email
        formControlName="email">

        <div class="label">Phone</div>
        <input type="phone" placeholder="Phone"
        [(ngModel)] = this.currentUser.phone 
        formControlName="phone">

      </div>

  
      <button>Save</button>
    </form>
    <div>
        
    </div>
